<div class="tags-item is-deletable %>" data-role="keyword" data-title="<%- keyword.title %>">
  <%- keyword.title %>
  <input type="hidden"
    name="<%- objectName %>[<%- associatedAttributesName %>][<%- keyword.virtualId %>][title]"
    value="<%- keyword.title %>" />
</div>
