<div class="tags-item is-deletable %>" data-role="keyword" data-name="<%- keyword.name %>">
  <%- keyword.name %>

  <input type="text"
    name="<%- objectName %>[<%- associatedAttributesName %>][<%- keyword.virtualId %>][search_count]"
    value="<%- keyword.search_count %>" />

  <i class="fa fa-close tags-item_delete" data-role="keyword-delete"></i>

  <% if (keyword.id) { %>
    <input type="hidden"
      name="<%- objectName %>[<%- associatedAttributesName %>][<%- keyword.virtualId %>][id]"
      value="<%- keyword.id %>" />
  <% } %>
  <input type="hidden"
    name="<%- objectName %>[<%- associatedAttributesName %>][<%- keyword.virtualId %>][name]"
    value="<%- keyword.name %>" />
  <input type="hidden" data-role="keyword-destroy_flag"
    name="<%- objectName %>[<%- associatedAttributesName %>][<%- keyword.virtualId %>][_destroy]"
    value="0" />
</div>
